@import 'vars.styl'
/*--------------------------------------------------------------------------------------------------- Generales*/
body
	font-family raleway
	:hover
		text-decoration none
.info
	a
		padding 8px 30px
		background-color amarillo
		border-radius(10px)
		display inline-block
		border-bottom 3px solid naranja
		color #000
		transition(.2s)
	
		&:hover
			text-decoration none
			background-color naranja
.infolarge
	a
		padding 8px 40px
		background-color amarillo
		border-radius(10px)
		display inline-block
		border-bottom 3px solid naranja
		color #000
		transition(.2s)
		&:hover
			text-decoration none
			background-color naranja
	
/*--------------------------------------------------------------------------------------------------- Header*/
header
	width 100%
	box-shadow(0 3px 50px 2px rgba(0,0,0,.8))
	z-index 1
	position relative
	nav
		ul
			margin-top 32px
			text-align center
			li
				display inline-block
				font-size .85em
				padding 0 8px
				a
					color #000
					transition(.1s)
					&:hover
						text-decoration none
						color naranja
						
						
				
	.iconos
		text-align right
		margin-top 32px
		a
			margin-left 5px
			
			
.bull01
	background-image url(assets/b-01.png)
	background-repeat no-repeat
	background-position 0 4px
.bull02
	background-image url(assets/b-02.png)
	background-repeat no-repeat
	background-position 0 4px
.bull03
	background-image url(assets/b-03.png)
	background-repeat no-repeat
	background-position 0 4px
.bull04
	background-image url(assets/b-04.png)
	background-repeat no-repeat
	background-position 0 4px
.bull05
	background-image url(assets/b-05.png)
	background-repeat no-repeat
	background-position 0 4px
.bull06
	background-image url(assets/b-06.png)
	background-repeat no-repeat
	background-position 0 4px
.bull07
	background-image url(assets/b-07.png)
	background-repeat no-repeat
	background-position 0 4px
/*--------------------------------------------------------------------------------------------------- Wrap*/
#wrap
	width 100%
	background-color morado
	height 300px
	background-image url(assets/bg-slider.png)
	background-repeat no-repeat
	background-position 50% 0
	
.slider
	width 945px
	margin 0 auto
/*--------------------------------------------------------------------------------------------------- formacion*/
#formacion
	background-color gris
	.titleform
		width 945px
		margin 0 auto
		padding 30px 0
		h2
			font-weight 700
			color morado
			text-align center
	.col3
		width 260px
		background-color #fff
		padding-bottom 26px
		.imagen
			img
				border-bottom 5px solid morado
		.description
			text-align center
			width 160px
			margin 25px auto
			font-size 1.2 em
			a
				color morado
		.info
			a
				margin-left 60px
	.col4
		width 359px
		background-color #fff
		padding-bottom 26px
		.imagen
			img
				border-bottom 5px solid morado
		.description
			text-align center
			width 262px
			margin 25px auto
			font-size 1.2 em
			a
				color morado
		.info
			a
				margin-left 112px
				
	.col5
		margin-top 30px
		width 456px
		background-color #fff
		height 360px
		.imagen
			img
				border-bottom 5px solid morado
		.description
			text-align center
			width 358px
			margin 25px auto
			font-size 1.2 em
			a
				color morado
		.infolarge
			a
				margin-left 18px
		.premod
			margin-left 52px
			.precio
				font-weight 700
				span
					color naranjo
			.modalidad
				position relative
				bottom 10px
				font-weight 700
				span
					font-weight 300
	.col52
		margin-top 30px
		width 456px
		background-color #fff
		height 360px
		.imagen
			img
				border-bottom 5px solid morado
		.description
			text-align center
			width 358px
			margin 25px auto
			font-size 1.2 em
			a
				color morado
		.infolarge
			a
				margin-left 18px
				position relative
				top 50px
		.premod
			margin-left 52px
			position relative
			top 50px
			.precio
				font-weight 700
				span
					color naranjo
			.modalidad
				position relative
				bottom 10px
				font-weight 700
				span
					font-weight 300
	.col2
		margin-top 16px
		width 165px
		background-color #fff
		height 255px
	
		.imagen
			img
				border-bottom 3px solid morado
		.description
			text-align center
			width 115px
			margin 20px auto
			a
				color morado
		.info
			a
				margin-left 14px
			
/*--------------------------------------------------------------------------------------------------- centros*/
#centros
	background-image url(assets/bg-02.png)
	background-color gris
	background-repeat no-repeat
	background-position 50% 37px
	
	.wrapwhite
		margin-top 40px
		background-color #fff
		height 236px
		border-bottom 3px solid morado
		margin-bottom 40px
		.title
			margin-left 36px
			color morado
			h3
				font-size 1.5em
		.view
			text-align right
			margin-right 41px
			position relative
			top 20px
			a
				color morado
		.icons01
			border-top 2px solid #efefef
			margin 0 40px
			img
				margin-right 15px
				margin-top 30px
		.icons02
			margin 0 40px
			img
				margin-right 10px
				margin-top 30px
/*--------------------------------------------------------------------------------------------------- categorias*/
#categorias
	background-color negro
	height 275px
	border-bottom 3px solid morado
	.titlecat
		color #fff
		margin-left 36px
		border-bottom 1px solid #fff
		h3
			font-size 1.5em	
.masters
	color #fff
	margin-left 56px
	
	h2
		font-size 1.2em
		img
			position relative
			bottom 3px
	ul
		width 329px
		position relative
		right 38px
		li
			list-style none
			a
				font-size .8em
				color catecolor
				transition(.2s)
				&:hover
					color #fff
/*--------------------------------------------------------------------------------------------------- footer*/

footer
	height 84px
	background-color gris
	.sitios
		width 925px
		margin-left 137px
		margin-top 20px
		a
			color #000
			margin-right 20px
			font-size .8em
			img
				position relative
				bottom 2px
	.submenu
		margin-top 20px
		width 700px
		margin 0 auto
		p
			margin-top 14px
			font-size .85em
			color grisfoo
			a
				color grisfoo
				transition(.2s)
				&:hover
					color negro
		
					
	
		
			
		
			
			