@import 'vars.styl'
/*--------------------------------------------------------------------------------------------------- Generales*/
body
	font-family raleway
	:hover
		text-decoration none
.info
	a
		padding 8px 30px
		background-color amarillo
		border-radius(10px)
		display inline-block
		border-bottom 3px solid naranja
		color #000
		transition(.2s)
	
		&:hover
			text-decoration none
			background-color naranja
.infolarge
	a
		padding 8px 40px
		background-color amarillo
		border-radius(10px)
		display inline-block
		border-bottom 3px solid naranja
		color #000
		transition(.2s)
		&:hover
			text-decoration none
			background-color naranja
	
/*--------------------------------------------------------------------------------------------------- Header*/
header
	.logo
		img
			width 140px
	nav
		ul
			margin-top 9px
			text-align center
			width 650px
			li
				display inline-block
				font-size .5em
				padding 0 8px
				a
					color #000
					transition(.1s)
					&:hover
						text-decoration none
						color naranja
						
						
				
	.iconos
		text-align right
		margin-top 9px
		a
			margin-left 5px
			
			
.bull01
	background-image url(assets/b-01.png)
	background-repeat no-repeat
	background-position 0 1.5px
.bull02
	background-image url(assets/b-02.png)
	background-repeat no-repeat
	background-position 0 1.5px
.bull03
	background-image url(assets/b-03.png)
	background-repeat no-repeat
	
/*--------------------------------------------------------------------------------------------------- Wrap*/
#wrap
	width 100%
	background-color morado
	height 193px
	background-image url(assets/bg-slider.png)
	background-repeat no-repeat
	background-position 50% 0
	
.slider
	width 84%
	margin 0 auto
	background-position 0 1.5px
.bull04
	background-image url(assets/b-04.png)
	background-repeat no-repeat
	background-position 0 1.5px
.bull05
	background-image url(assets/b-05.png)
	background-repeat no-repeat
	background-position 0 1.5px
.bull06
	background-image url(assets/b-06.png)
	background-repeat no-repeat
	background-position 0 1.5px
.bull07
	background-image url(assets/b-07.png)
	background-repeat no-repeat
	background-position 0 1.5px